.body{
  /* display:flex; */
  float: left;
  background: white;


}
.home{
  background: #1a1a1a;
  height: auto;
    margin: 1rem;
    border-radius: 14px;
    display: grid;
    overflow-y: scroll;
    scroll-behavior: smooth;
    grid-template-columns: repeat(1, 2fr);
  }
  .home::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }

  .home::-webkit-scrollbar-track {
    background: transparent;/* color of the tracking area */
  }

  .home::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.07);
  /* border-radius: 20px; */
  /* border: 3px solid orange;   */
  }

  .input{
    margin-right: 2rem;
    height: 48px;
    width: 20rem;
    background-color: #242424;
    border-radius: 30px;
    border: 0;
    padding: 6px 48px;
    margin: 10px 0 20px 0;
    color: #fff!important;
    font-size: 15px;
    text-overflow: ellipsis;
    font-weight: 600;
}

.input_header{
    display: flex;
    align-items: center;
    /* position: fixed; */
    flex-direction: column;
    /* right: 12rem; */

}


  .content_search{
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: white; */
    height: 85vh;
  }


  button{
    background: #8B0000;
    height: 45px;
    width: 350px;
    border: none;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  .content_select{
    display: flex;
    flex-direction: column;
  }

  label{
    color: #fff;
  }

  select{
    /* margin-right: 1rem; */
    height: 58px;
    width: 26rem;
    background-color: #242424;
    border-radius: 30px;
    border: 0;
    padding: 6px 45px;
    margin: 10px 0 20px 0;
    color: #fff!important;
    font-size: 15px;
    text-overflow: ellipsis;
    font-weight: 600;
  }

  p{
    color: red;
  }
